@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello, Nancy!</h1>
        <img src="~/LaingBoyBadGirl/01/1.jpg"/>
    </div>
    <script src="~/Scripts/vue.js"></script>
</body>
</html>